/* login/register/reset*/

form {
	border: 2px solid #f1f1f1;
	padding: 15px;
	margin-top: 10px;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}



/* page login */

main {
	/*common*/
	color: black;
	background-color: white;
	margin: 5px;
	padding: 50px;
	/*text*/
	text-align: center;
}

#sign-in {
	/*common*/
	color: black;
	background-color: white;
	margin: 0px;
	padding: 15px;
	/*view*/
	display: inline-block;
	border: 2px solid #555555;
	width: 340px;
	/*text*/
	font-family: sans-serif;
	text-align: left;
}

	#sign-in h2 {
		font-family: Arial, sans-serif;
		font-size: 20px;
		font-weight: 100;
	}

	#sign-in form {
		/*common*/
		margin: 10px 0px 0px 0px;
		padding: 15px;
		/*view*/
		border: 2px solid #f1f1f1;
		/*text*/
		font-family: Arial, sans-serif;
	}

input[type=text], input[type=password] {
	width: 100%;
	border: 1px solid #a6a6a0;
	box-sizing: border-box;
	margin-right: 0;
	height: 25px;
	padding: 3px 7px;
}

label {
	padding-left: 4px;
	padding-bottom: 4px;
}

.divider {
	margin-bottom: 5px;
	margin-top: 25px;
	text-align: center;
}

	.divider hr {
		width: 30%;
	}

.registerbutton {
	box-sizing: border-box;
	font-size: 16px;
	width: 90%;
	background-color: whitesmoke;
	color: crimson;
	cursor: pointer;
}

button {
	box-sizing: border-box;
	font-size: 18px;
	width: 100%;
	background-color: #c8102e;
	color: white;
	box-sizing: border-box;
	cursor: pointer;
}

.regbox {
	text-align: center;
}



/* page register */
h2 {
	font-family: Arial, sans-serif;
	font-size: 20px;
	font-weight: 100;
}

.register form {
	border: 2px solid #f1f1f1;
	padding: 15px;
	margin-top: 10px;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}

input[type=text], input[type=password] {
	width: 100%;
	border: 1px solid #a6a6a0;
	box-sizing: border-box;
	margin-right: 0;
	height: 25px;
	padding: 3px 7px;
}

.container {
	margin-top: 70px;
	height: 100%;
	box-sizing: border-box;
}

label {
	padding-left: 4px;
	padding-bottom: 4px;
}



/* page forgot */

.reset form {
	border: 2px solid #f1f1f1;
	padding: 10px;
	margin-top: 10px;
	font-family: Arial, sans-serif;
	box-sizing: border-box;
}

.innerboxForgotpassword {
	border: 2px solid #f1f1f1;
	padding: 5px;
	min-height: 60px;
	width: 450px;
	margin: auto;
}