html {
	height: 100%;
}

/*the "table" display is how the footer stays at the bottom*/
body {
	/*common*/
	color: inherit;
	background-color: inherit; /*lighter red*/
	margin: 0px;
	padding: 0px;
	/*view*/
	display: table;
	width: 100%;
	height: 100%;
}

/*this makes all inks style like their underlying parent*/
a {
	/*common*/
	color: inherit;
	background-color: inherit; /*lighter red*/
	margin: 0px;
	padding: 0px;
	/*text*/
	text-decoration: inherit;
}

nav {
	/*common*/
	color: white;
	background-color: #960C22; /*darker red*/
	margin: 0px;
	padding: 5px; /*all*/
	/*view*/
	overflow: hidden;
	/*text*/
	text-align: right;
}

	nav a {
		/*common*/
		background-color: #c8102e; /*lighter red*/
		padding: 10px;
		/*view*/
		display: inline-block;
		/*text*/
		font: bold 14px sans-serif;
		text-transform: uppercase;
	}


.current li {
	width: 145px;
	background-color: #960C22; /*darker red*/
	color: #FFF9D9;
	font-weight: bold;
	margin-bottom: 5px;
	text-align: right;
}

	.current li:hover {
		background-color: #960C22; /*darker red*/
	}

	.current li a {
		color: #FFF9D9;
	}


.inner {
}

input[type=username], input[type=password], input[type=text], input[type=email], select {
	width: 100%;
	padding: 10px 15px;
	margin-top: 5px;
	margin-bottom: 10px;
	display: inline-block;
	border: 1px solid #555;
	box-sizing: border-box;
}

span.incorrect {
	font-weight: bold;
	padding-left: 5px;
	padding-top: 10px;
	color: #c8102e; /*lighter red*/
}

footer {
	width: 100%;
    height : 90px;
    padding: 5px;
	color: white;
	background-color: #54585A;
	clear: left;
	text-align: center;
}


span.forgot {
	float: right;
	padding-top: 10px;
}

	span.forgot a {
		text-decoration: none;
		color: #960C22; /*darker red*/
	}

		span.forgot a:hover {
			text-decoration: none;
			color: #c8102e; /*lighter red*/
		}
